<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Возможность переопределения заголовка -->
    <title>{% block title %}MultiLoader{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/radio.css') }}">
</head>
<body>
    <header>
        <h1>MultiLoader</h1>
    </header>

    <main>
        <form class="upload-form" id="uploadForm">
            <div class="form-container">
                <div class="video-info">
                    <p>Информация</p>
                    <div class="form-group">
                        <input type="text" id="title" name="title" placeholder="Название" required>
                    </div>

                    <div class="form-group">
                        <textarea id="description" name="description" placeholder="Описание" rows="4" style="resize: none;"></textarea>
                    </div>

                    <div class="form-group">
                        <select id="category" name="category">
                            <option value="">Выберите категорию</option>
                            <option value="Film & Animation">Фильмы и анимация</option>
                            <option value="Cars & Vehicles">Транспорт</option>
                            <option value="Music">Музыка</option>
                            <option value="Pets & Animals">Животные</option>
                            <option value="Sport">Спорт</option>
                            <option value="Travel & Events">Путешествия</option>
                            <option value="Gaming">Игры</option>
                            <option value="People & Blogs">Люди и блоги</option>
                            <option value="Comedy">Юмор</option>
                            <option value="Entertainment">Развлечения</option>
                            <option value="News & Politics">Новости и политика</option>
                            <option value="How-to & Style">Хобби и стиль</option>
                            <option value="Education">Образование</option>
                            <option value="Science & Technology">Наука и техника</option>
                            <option value="Non-profits & Activism">Общественная деятельность</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="drop-zone" id="videoDropZone">
                            <div class="drop-content">
                                <span class="drop-icon">📁</span>
                                <p class="browse-btn" id="videoBrowseBtn">Выберите файл</p>
                                <input type="file" id="video" name="video" accept="video/*" hidden required>
                            </div>
                        </div>
                        <div class="file-info" id="fileInfo"></div>

                        <div class="drop-zone" id="imageDropZone">
                            <div class="drop-content">
                                <span class="drop-icon">🖼</span>
                                <p class="browse-btn" id="imageBrowseBtn">Загрузите изображение</p>
                                <input type="file" id="image" name="image" accept="image/*" hidden required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" onclick="autoTag()">Авто-тэг</button>
                        <input type="text" id="tagList" name="tags" placeholder="Тэги" required>
                    </div>

                    <div class="form-group">
                        <div class="radio-container">
                            <label class="radio-title">Выберите уровень доступа:</label>
                            <div class="radio-choice">
                                <input type="radio" id="public" name="privacy" value="public" checked>
                                <label for="public">Открытый доступ</label>
                            </div>
                                
                            <div class="radio-choice">
                                <input type="radio" id="private" name="privacy" value="private">
                                <label for="private">Закрытый доступ</label>
                            </div>    
                        </div>   
                    </div>
                </div>
                
                <div class="platforms">
                    <p>Плтаформы</p>
                    <label>
                        <input type="checkbox" name="platforms" value="youtube"> YouTube
                    </label>
                    
                    <label>
                        <input type="checkbox" name="platforms" value="vk"> VK Видео
                    </label>
                    
                    <label>
                        <input type="checkbox" name="platforms" value="telegram"> Telegram
                    </label>

                    <label>
                        <input type="checkbox" name="platforms" value="yandex"> Яндекс Дзен
                    </label>

                    <label>
                        <input type="checkbox" name="platforms" value="rutube"> RuTube
                    </label>

                    <button type="button" onclick="submitForm()">Обработать данные</button>
                </div>
            </div>
        </form>
        <div id="result" class="result"></div>
    </div>
    </main>

    <footer>
    </footer>
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/form-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file-explorer.js') }}"></script>
</html>