<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MultiLoader{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/publicity.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/platforms.css') }}">
</head>
<body>
    <header>
        <h1>MultiLoader</h1>
    </header>

    <main class="main-container">
        <form class="upload-form" id="uploadForm">
            <div class="form-container">
                <div class="video-info">
                    <p>Информация</p>
                    <div class="form-group">
                        <input type="text" id="title" name="title" placeholder="Название" required>
                    </div>

                    <div class="form-group">
                        <textarea id="description" name="description" placeholder="Описание" rows="4" style="resize: none;"></textarea>
                    </div>

                    <div class="form-group">
                        <select id="category" name="category">
                            <option value="">Выберите категорию</option>
                            <option value="Film & Animation">Фильмы и анимация</option>
                            <option value="Cars & Vehicles">Транспорт</option>
                            <option value="Music">Музыка</option>
                            <option value="Pets & Animals">Животные</option>
                            <option value="Sport">Спорт</option>
                            <option value="Travel & Events">Путешествия</option>
                            <option value="Gaming">Игры</option>
                            <option value="People & Blogs">Люди и блоги</option>
                            <option value="Comedy">Юмор</option>
                            <option value="Entertainment">Развлечения</option>
                            <option value="News & Politics">Новости и политика</option>
                            <option value="How-to & Style">Хобби и стиль</option>
                            <option value="Education">Образование</option>
                            <option value="Science & Technology">Наука и техника</option>
                            <option value="Non-profits & Activism">Общественная деятельность</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="drop-zone" id="videoDropZone">
                            <div class="drop-content">
                                <span class="drop-icon">📁</span>
                                <p class="browse-btn" id="videoBrowseBtn">Выберите файл</p>
                                <input type="file" id="video" name="video" accept="video/*" hidden required>
                            </div>
                        </div>
                        <div class="file-info" id="fileInfo"></div>

                        <div class="drop-zone" id="imageDropZone">
                            <div class="drop-content">
                                <span class="drop-icon">🖼</span>
                                <p class="browse-btn" id="imageBrowseBtn">Загрузите изображение</p>
                                <input type="file" id="image" name="image" accept="image/*" hidden required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" onclick="autoTag()">Авто-тэг</button>
                        <input type="text" id="tagList" name="tags" placeholder="Тэги" required>
                    </div>

                    <div class="form-group">
                        <div class="radio-container">
                            <label class="radio-title">Выберите уровень доступа:</label>
                            <div class="radio-choice">
                                <input type="radio" id="public" name="privacy" value="public" checked>
                                <label for="public">Открытый доступ</label>
                            </div>
                                
                            <div class="radio-choice">
                                <input type="radio" id="private" name="privacy" value="private">
                                <label for="private">Закрытый доступ</label>
                            </div>    
                        </div>   
                    </div>
                </div>
                
                <div class="platforms-container">
                    <p>Платформы</p>
                    <div></div>
                    <div class="platforms">
                        <label>
                            <input type="checkbox" name="platforms" value="youtube"> 
                            YouTube
                        </label>
                        <button type="button" id="youtube-button" class="platform-button" onclick="toggleInfo('youtube')">Привязать</button>
 
                        <label>
                            <input type="checkbox" name="platforms" value="telegram"> 
                            Telegram
                        </label>
                        <button type="button" id="telegram-button" class="platform-button" onclick="toggleInfo('telegram')">Привязать</button>

                        <label>
                            <input type="checkbox" name="platforms" value="vk"> 
                            VK
                        </label>
                        <button type="button" id="vk-button" class="platform-button" onclick="toggleInfo('vk')">Привязать</button>

                        <label>
                            <input type="checkbox" id="zenCheckbox" name="platforms" value="yandex"> 
                            Яндекс Дзен
                        </label>
                        <button type="button" id="zen-button" class="platform-button" onclick="toggleInfo('zen')">Привязать</button>

                        <label>
                            <input type="checkbox" id="rutubeCheckbox" name="platforms" value="rutube"> 
                            RuTube
                        </label>
                        <button type="button" id="rutube-button" class="platform-button" onclick="toggleInfo('rutube')">Привязать</button>

                        <button type="button" onclick="submitForm()">
                            Обработать данные
                        </button>
                    </div>
                </div>

                <div id="info-youtube" class="info-box" style="display: none;">
                    <button type="button" id="youtube-button" class="platform-button" onclick="connectYouTube()">Войти с Google</button>
                </div>

                <div id="info-telegram" class="info-box" style="display: none;"> 
                    <p>
                        1. Добавьте в качестве администратора в свой канал бота <a href="https://t.me/multi_loaderbot" target="_blank">@multi_loaderbot</a><br>
                        2. Напишите в свой канал полное название вашего канала<br>
                        3. Впишите название вашего канала в поле: <input type="text" id="channel-name" placeholder="Название" required>
                    </p>
                    <button type="button" class="platform-button" id="tg-connect-btn" onclick="tgAuth()">Привязать канал</button>
                </div>

                <div id="info-zen" class="info-box" style="display: none;">
                    <p>
                        <a href="https://dzen.ru/help/ru/channel/cross-platform.html" target="_blank">Руководство</a> по настройке автоматической публикации
                    </p>
                </div>

                <div id="info-rutube" class="info-box" style="display: none;">
                    <p>
                        Автоматическую публикацию можно настроить в <a href="https://studio.rutube.ru/channel-settings#show-youtube-import" target="_blank">личном кабинете</a>
                    </p>
                </div>
                
            </div>
        </form>
        <div id="result" class="result"></div>
        <button id="auth-btn" onclick="openAuthPopup()">
            ℹ️
        </button>

        <div id="auth-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn" onclick="closeAuthPopup()">&times;</span>

                <div class="auth-tabs">
                    <button id="loginTabBtn" class="tab-btn active" onclick="switchAuthTab('login')">Вход</button>
                    <button id="registerTabBtn" class="tab-btn" onclick="switchAuthTab('register')">Регистрация</button>
                </div>

                <form id="loginForm" class="auth-form" onsubmit="login(event)">
                    <input type="text" placeholder="Логин" name="username" required />
                    <input type="password" placeholder="Пароль" name="password" required />
                    <button type="submit">Войти</button>
                </form>

                <form id="registerForm" class="auth-form" style="display: none;" onsubmit="register(event)">
                    <input type="text" placeholder="Логин" name="username" required />
                    <input type="password" placeholder="Пароль" name="password" required />
                    <input type="password" placeholder="Подтвердите пароль" name="confirmPassword" required />
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/auth/form-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface/file-explorer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface/platforms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface/auth-popup.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/auth/telegram-auth.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/auth/youtube-auth.js') }}"></script> 
    <script type="module" src="{{ url_for('static', filename='js/auth/auth.js') }}"></script> 
</html>